.formouter {
    margin: 0 auto;
    width: 90%;
}
.Formheader
{
    text-align: center;
}
.btn {
    margin: 2px 9px 2px 2px !important;
}
.full-screen
{
    height: auto;
}
.Error_msg
{
    color: red !important;
}
.selectbox
{
    min-width: 50% !important;
}
.form_layout
{
    margin: 0 auto;
}